.friend{
    background: #00bfb6;
    /* background-color: #131c21; */
    color: white;
    padding: 10px;
    margin-bottom: 2px;
}

.item-center{
    position: relative;
    align-items: center;
    display: flex;
}

.friend-image{
    width: 16.666667%;
    margin-right: 30px;
}

.body{
    width: 83.333333%;
}

.time{
    right: 0;
    top: 0;
    position: absolute;
    margin-top: 0.25rem;
    font-size: .75rem;
    line-height: 1rem;
}
