.message{
    height: fit-content;
    min-width: 400px;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 50px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 800;
    font-family: arial;
    margin-right: 10%
}

.left{
    background-color: #056162;
    margin-left: 10%;
}
