
#user-info-bar {
    background: #00bfb6;
    display: inline-flex;
    width: 100%
}

img{
    height: 5%;
    padding-right: 3px;
}

#username{
    bottom: 0;
    font-size: 1.5rem;
    color: white;
    padding-left: 0.5%;
    padding-top: 1.75%;
}
