.App {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.pointer{
    cursor: pointer;
}

#user-info{
  padding: 3px;
  display: inline;
}

#sidebar {
  padding-right: 10px;
  width: 80vw;
}

#chat-history{
  display: grid;

}

.icon{
  font-size: 20px;
}

#message-input{
  padding: 10px;
  border-radius: 12px;
  background: #fff;
}

#input-bar {
  padding: 20px;
  background-color: #2a2f32;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
}


.send-button{
    border: none;
    background: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
  justify-content: space-evenly;
  display: flex;
  display: flex;
}


main{
  display: grid;
  grid-template-columns: 20% auto;
  width: 100%
}

#right{
  display: grid;
  grid-template-rows: 1fr auto;
}
